.main {
  background: lightgray;
  margin-top: 10px;
  min-height: 80vh;
  max-width: 750px;
}
.playerTurn {
  background: plum;
  color: #000;
}
.board {
  margin-top: 30px;
  width: auto;
  background: white;
  color: black;
  text-align: center;
}
.myRow {
  margin-top: auto;
}
.columnBorder {
  border: solid 0.5px;
}
